!.git/

hledger-linux-x64
hledger-ui-linux-x64
hledger-web-linux-x64
hledger
hledger-ui
hledger-web
hledger.exe
hledger-ui.exe
hledger-web.exe
.hledger-web_client_session_key.aes
 
reports/
!reports/.gitkeep

node_modules/
!input/
!input/**
docker/Dockerfile

htmlcov/

# https://github.com/GoogleCloudPlatform/getting-started-python/blob/main/optional-kubernetes-engine/.dockerignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis